@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme{
  --color-footer: rgba(123,74,226, 0.1);
  --color-border: rgba(123,74,226, 0.5);
  --color-text: #7B4AE2;

  --animate-spin-slow: spin 8s linear infinite;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-geist-sans), 'Roboto', sans-serif;
  overflow-x: hidden;
}

/* Scrollbar personalizada */
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: rgba(23, 4, 23, 0.1);
  border-radius: 5px;
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(120, 16, 120, 0.4);
  border-radius: 14px;
  border: 3px solid rgba(23, 4, 23, 0.2);
}
